@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: Open Sans;
    src: url(OpenSans-Regular.ttf);
    font-weight: normal;
}

.Partner {
    background: linear-gradient(0deg, rgba(79, 79, 79, 0.3), rgba(79, 79, 79, 0.3)), url(/IMG/Organik-spirulina-tablets.png);
    background-size: 110%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 270px;
    left: 0px;
    top: 0px;
}
.Partner h2 {
    color: #e0e0e0;
    position: absolute;
    width: 900px;
    height: 87px;
    left: 240px;
    margin-top: 50px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
}
.first-link {
    color: #f2f2f2;
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    top: 150px;
    border: 2px solid #f2f2f2;
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    position: absolute;
    height: 25px;
    left: 490px;
}
.first-link:hover {
    color: #333333;
    cursor: pointer;
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    position: absolute;
    height: 25px;
    left: 490px;
    transition: ease-out .3s;
}
.first-link:active {
    color: #333333;
    cursor: pointer;
    top: 150px;
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    position: absolute;
    height: 25px;
    left: 490px;
    cursor: progress;
}
.second-link {
    color: #f2f2f2;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    position: absolute;
    width: 90px;
    height: 25px;
    left: 750px;
    top: 150px; 
    border: 2px solid #F2F2F2;
    text-decoration: none;
}
.second-link:hover {
    color: #333333;
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    position: absolute;
    width: 90px;
    height: 25px;
    left: 750px;
    top: 150px; 
    cursor: pointer;
    transition: ease-out .3s;
}
.second-link:active {
    color: #333333;
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    position: absolute;
    width: 90px;
    height: 25px;
    left: 750px;
    top: 150px; 
    cursor: progress;
}
footer {
    background: #333333;
    width: 100%;
    height: 320px;
    left: 0px;
    top: 0px;
}
.Vorwarts-Pharma {
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 70px;
    left: 90px;
}
.Vorwarts-Pharma h3 {
    margin-top: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 33px;
    color: #F2F2F2;
}
.Vorwarts-Pharma p {
    color: #bdbdbd;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
}
.Contacts {
    position: absolute;
    width: 38px;
    height: 110px;
    left: 450px;
}
.Contacts h3 {
    margin-top: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 33px;
    color: #F2F2F2;
}
.Contacts h4 {
    color: #bdbdbd;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    padding: 0px;
    margin: 0px;
}
.Call-Us {
    position: absolute;
    width: 150px;
    height: 33px;
    left: 700px;
} 
.Call-Us h3 {
    margin-top: 60px;
    color: #f2f2ff;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 33px;
}
.Call-Us h4 {
    color: #bdbdbd;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    margin: 0px;
}
.Write-Us {
    position: absolute;
    width: 148px;
    height: 56px;
    left: 1041px;
}
.Write-Us h3 {
    color: #f2f2f2;
    margin-top: 60px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 33px;
}
.Write-Us h4 {
    color: #bdbdbd;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
}
.Social {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: absolute;
    width: 210px;
    height: 50px;
}
.Social img {
    margin-top: 15px;
    padding-right: 30px;
}
.first {
    margin-top: 16.5px!important;
}
.Since {
    position: absolute;
    width: 228px;
    height: 27px;
    left: 150px;
}
.Since h4 {
    margin-top: 260px;
    color: #e0e0e0;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
}
.Created {
    position: absolute;
    width: 166px;
    height: 27px;
    left: 1100px;
}
.Created h4 {
    margin-top: 260px;
    color: #bdbdbd;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
}


