@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    background: rgb(241, 241, 241);
    margin: 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    width: 100%;
}

.header-nav {
    height: 60px;
}

.header-list {
    display: flex;
    list-style-type: none;
}

.header-item a {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    color: #4F4F4F;
    text-decoration: none;
    width: 50px;
    height: 30px;
}

.input-wrapper {
    padding-top: 1px;
}

.header-item {
    border-bottom: 3px solid transparent;
    padding: 1rem;
}

.header-item:hover {
    border-color: rgb(40, 145, 8);
}

input[type=text] {
    width: 200px;
    border: 0;
    background-color: transparent;
    background-image: url(/img/search.png);
    background-size: 30px;
    background-position: 7px 10px;
    background-repeat: no-repeat;
    padding: 12px 56px 12px 40px;
}

input[type=text]:focus {
    outline: none;
}

.search-option {
    border: 0;
    background: transparent;
}

.form {
    display: flex;
}

.dropdown {
    padding-top: 5px;
}

.slide img {
    width: 100%;
}

.text-wrapper {
    font-family: "Open Sans", sans-serif;
    background: transparent;
    max-width: 500px;
    height: 150px;
    top: 200px;
}

.slider-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    height: 270px;
    position: absolute;
    top: 490px;
    left: 10px;
}

.cont-title h1 {
    font-size: 33px;
    font-weight: 600;
    background: transparent;
}

.cont-text p {
    font-size: 20px;
    background: transparent;
}

.slider-buttons {
    display: flex;
    align-items: flex-end;
    height: 150px;
    height: 100%;
}

/* .button1, .button2 {
    background: rgb(255, 0, 0);
} */

.button1 {
    width: 220px;
    height: 150px;
    background: url(/img/svg/Vector4.svg), white;
    background-repeat: no-repeat;
    background-position: center;
}

.button2 {
    width: 220px;
    height: 150px;
    background: url(/img/svg/Vector3.svg), white;
    background-repeat: no-repeat;
    background-position: center;
}

.button1:hover {
    background: url(/img/svg/Vector4.svg), rgba(0, 0, 0, 0.01);
    background-repeat: no-repeat;
    background-position: center;
}

.button2:hover {
    background: url(/img/svg/Vector3.svg), rgba(0, 0, 0, 0.01);
    background-repeat: no-repeat;
    background-position: center;
}

/*scroll-bar start*/

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
    background: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 143, 143);
}

/*scroll-bar end*/